.form{
    border: 3px solid lightblue;
    border-radius: 30px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 2%;
    padding: 5%;
}
.or{
   
   
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 2%;
    margin-bottom: 1%;
    padding: 6px;
}
.or button{
    border-radius: 5px;
    border: 2px solid lightcoral;
    margin: 3px;
    padding: 2%;
}
.form input{
    background-color: rgb(192, 227, 238);
    border-radius: 5px;
    margin: 3px;
    padding: 2%;
}
h4{
    color: royalblue;
}
input{
    width: 30vw;
}